body {
    height: 100vh;
    background-image: linear-gradient(30deg, limegreen, dodgerblue);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Quintessential', cursive;
    text-align: center;
}

h1 {
    font-size: 40px;
    color: honeydew;
    margin: 10px;
}

h4 {
    margin: 10px;
}

.container {
    margin: auto auto;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    width: 800px;
}

.card {
    margin: 20px;
}

.base {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    transition: transform 0.6s ease-out .1ms;
    transform-style: preserve-3d;
}

.card:hover .base {
    transform: rotateY(180deg);
}

.question, .answer {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.question {
    z-index: 2;
    background: azure;
}

.answer {
    z-index: 3;
    background: black;
    color: honeydew;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
